:root {
    --header-color-inicial: #e7610d;
    --header-color-final: #c15d00;
    --color-body: #f5f5f5;
    --color-main: #fff;
    --color-letra-link: #fff;
    --color-rodade: #333;
    --color-main-button: #ffffff49;
    --color-receita-button: #178dd1;
}