@import url("color.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom , var(--header-color-inicial), var(--header-color-final));
    color: var(--color-letra-link);
    padding: 15px;
    text-align: center;
}

header > h1 {
    font-size: 3.2rem;
    margin-top: 15px;
    text-shadow: 3px 3px 9px white;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

header > p {
    font-size: 1.3em;
    margin-bottom: 8px;
    font-weight: 300;
    opacity: 0.9;
}

nav {
    margin-bottom: 16px;
    margin-top: 30px;
    
}

nav > a {
    text-decoration: none;
    color: var(--color-letra-link);
    background-color: var(--color-main-button);
    border-radius: 25px;
    padding: 10px;
    border: 1px solid #e9e9e99c;
    display: inline-block;
}

nav > a:hover {
    transform: scale(1.05);
    transition: 0.9s ease-in-out;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: var(--color-rodade);
    position: fixed;
    bottom: 0;
}